@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body{
  font-size: 20px;
  font-family: 'Work Sans', sans-serif;
  color: #fd5a1e;
  font-weight: 300;
  text-align: center;
  background-color: #333333;
}

.hideMe {display: none}

h1{
  font-weight: 700;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #949494;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label{
  display: block;
  margin-bottom: 10px;
}

button{
  font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #949494;
    color: #333333;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;
}

button:hover{
    background-color: #fd5a1e;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}

.quizContainer{
  position: relative;
  height: 200px;
  margin-top: 40px;
}





